﻿@charset "UTF-8";

/* 基本色 */
:root {
	--main-color: #5D9AB2;
	--accent-color: #BF6A7A;
	--dark-main-color: #2B5566;
    --text-bright-color: #fff;
    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --gray-color: #ddd;
    --large-width: 1000px;
    --middle-width: 800px;
}

/* 基本設定：　フォントサイズ */
@media (max-width: 800px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 16px;
    }
}

/* 基本設定： ページ全体 */
body {
        max-width: 980px;
        background-color: beige;
	font-family: 'メイリオ',
	'Hiragino Kaku Gothic Pro', 
	sans-serif;
}

/* ヘッダー */
header {
    position: center;
    background-color: rbga(255,255,255,0.9);
}

.nohero header {
    position: static;
    border-bottom: solid 1px #ddd;
    border-bottom: solid 1px var(--gray-color);    
}

/*リンク色の設定*/
a{
   color:#0000ff;
}

a:hover{
   color:#ff705b;
}

h1{
  color: #000000;
  text-align: left;
  font-size: 200%;
}

h2{
  color: #000000;
  text-align: left;
  border: #94c8b1 1px dotted;
  border-left: #d0e35b 10px solid;
  padding: 5px 20px;
  margin-bottom;: 0;
}

h3{
  color: blue;
  text-align: left;
  text-align: center;
  font-size: 120%;
}

/*リード領域の設定*/
#lead{
   border-top: #6fbb9a 1px dotted;
   border-bottom: #6fbb9a 1px dotted;
   padding: 20px;
   text-align: center;
}

/*「もっと見る」リンクの設定*/
p.more{
   text-align: right;
}


/* コンテンツページ　記事 */
.post .container {
    max-width: 800px
    max-width: var(--middle-width);
    margin-left: auto;
    margin-right: auto;
    padding: 30px 10px;
}

.post h1 {
    padding-left: 0.5rem;
    border-left: solid 0.75rem #BF6A7A;
    border-left:
        solid 0.75rem var(--accent-color);
    font-size: 2rem;
}

.post p {
    font-size: 1rem;
    line-height: 2;
}

/post img {
    max-width: 25%;
}

/* コンテンツページ：　パンくずリスト */
.bread ol {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bread a {
    display: block;
    padding: 5px;
    color: inherit;
    font-size: 0.875rem;
    text-decoration: none;
}

.bread a::after {
    margin-left: 10px;
    content: '\f054';
    font-family: 'FontAwesome';
    opacity: 0.3;
}

.bread a:hover {
   background-color: rgba(0,0,0,0.3) ;   
}
/* ナビゲーション（メニューボタン） */
#global li {
margin:0 0 5px;
list-style-type:none;
}
#global li a {
background-color:#fbdac9;
display:block;
color:#47210c;
text-decoration:none;
padding:20px 0;
text-align:center;
font-size:18px;
font-weight:bold;
position:relative;
}
#global li a::before {
display:block;
content:"";
position:absolute;
top:50%;
right:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
transform:rotate(45deg);
width:12px;
height:12px;
margin-top:-4px;
background-color:#47210c;
}
#global li a::after {
display:block;
content:"";
position:absolute;
top:50%;
right:16px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
transform:rotate(45deg);
width:12px;
height:12px;
margin-top:-4px;
background-color:#fbdac9;
}    
/* フッター */
footer {
   color: #fff;
   color: var(--text-bright-color);
   background-color: #2B5566;
   background-color: var(--dark-main-color);
}

footer  .container {
    padding: 5px 5px;
}

/* フッターA：　サイト情報 */
.footA h2 {
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
 　 font-size: 8px;
    font-style: italic;
    letter-spacing: 0;
}

.footA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: #fff;
}

.footA a {
    color: inherit;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
} 
