@charset "utf-8";
/*
 * Kmd01202.css
 *
 * 著作権  ：Copyright Japan System Techniques Co., Ltd. All Rights Reserved.
 * 会社名  ：日本システム技術株式会社
 */

/*
 * 授業評価結果照会（Kmd01202）
 */

/* 一括変更ボタンの間隔 */
.allChangeBtnMargin {
    margin:2px;
}

/* 棒グラフスタイル */
.barGraph {
    height:300px;
}

/* 円グラフスタイル */
.pieGraph {
    width:400px;
    height:300px;
}
.headTable {
    width: 100%;
    margin-bottom: 15px;        
}

.titleTable {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titleFont {
    font-size: 1.5em !important;
}

.queestTable {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.teikeiTable {
    width: 100%;
    margin-bottom: 15px;
}

.kynComment{
    width: 60em !important;
}

.kynCommentUl {
    list-style-type: disc;
    text-overflow: clip;
    white-space:pre-wrap!important;
}

.commentLine {
    width: 100%;
    padding-top: 12px;
}
.graphBtnStyle {
    padding-left: 20px;
    text-align: left;
    vertical-align: top;
    width: 170px;
}
.dateArea {
    text-align: left;
    width: 430px;
}

/*回答内容テーブルの横幅（仮）*/
.freeTextTable{
    width: 90%;
}

/* 明細（氏名） */
.colName {
    width: 15em;
}

/* 所属学科組織名称 */
.colSgks {
    width: 15em;
}

/*回答内容テーブルの改行反映*/
.freeTextTable td{
    text-overflow: clip;
    white-space:pre-wrap!important;
}

/* 一覧ボーダー */
.ui-datatable tr, .ui-datatable td {
    border-top: dotted 1px #999999 !important;
}

/* 設問間の余白 */
.ui-accordion-content .spaceAdjust {
    margin-top: 3em;
}

.ui-accordion-content .spaceAdjust:first-of-type {
    margin-top: 0;
}

/* 棒グラフレイアウト調整 */
.jqplot-axis.jqplot-yaxis {
    width: 250px !important;
	overflow: hidden;
	z-index: 999;
}
.jqplot-yaxis-tick {
    right: auto;
}

/* 折り返し許容 */
.colData {
    white-space: normal !important;
}

/* 棒グラフレイアウト調整 */
.chartBar .jqplot-axis.jqplot-yaxis {
    width: 250px !important;
	overflow: hidden;
	z-index: 999;
}
.chartBar .jqplot-yaxis-tick {
    right: auto;
}

/* 円グラフ、設問折り返し禁止 */
.jqplot-target .jqplot-table-legend.jqplot-table-legend-label {
    white-space: nowrap;
}
/* 円グラフ、設問余白調整 */
.jqplot-target .jqplot-table-legend {
    padding: 0.4em !important;
}